@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/*font-family: 'Lato', sans-serif;*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
}

:root{
	--dark-color:#191919;
	--white-color:#FFFFFF;
	--purple-color:rgb(117,41,149);
	--blue-color:#00B2B1;
	--gray-color:#828282;
	--ligh-color:#F3F3F3;
}

h1, h2, h3 {
    font-family: 'Lato', sans-serif;
    color: var(--purple-color);
}

p {
    color: var(--dark-color);
    text-align: justify;
}

/*Diseño de Home*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.logo img {
    max-width: 270px;
    width: 100%;
}

.b-azul i {
    margin-right: .2rem;
}

.b-azul {
    background-color: var(--blue-color);
    border-radius: 10%;
    border: solid --blue-color;
    font-weight: bold;
    text-align: center;
    padding: .5rem 1rem;
    cursor: pointer;
}

.b-morado i {
    margin-right: .2rem;
}

.b-azul:hover {
    color: var(--blue-color);
    background-color: var(--white-color);
    transition: all 1s ease 1s;
}

.b-morado {
    background-color: var(--white-color);
    color: var(--purple-color);
    border-style: solid;
    border-radius: 10%;
    border: solid --purple-color;
    font-weight: bold;
    padding: .5rem 1rem;
    cursor: pointer;
}

.b-morado:hover {
    color: var(--white-color);
    background-color: var(--purple-color);
    transition: all 1s ease 1s;
}

nav {
    display: flex;
    background-color: var(--purple-color);
}

.item {
    padding: 1rem;
    color: var(--white-color);
    text-decoration: none;
    border-bottom: 2px var(--purple-color);
}

.item:hover {
    color: rgba(255, 255, 255, .4);
    border-bottom: 2px solid var(--white-color);
}

#agenda{
    display: flex;
    background-image: url(../img/fondo.jpg);
}

.cita {
    flex-basis: 70%;
    padding: 2rem;
}

.cita h1 {
    color: var(--dark-color);
    font-size: 24px;
    text-transform: uppercase;
}

.cita h3 {
    color: var(--dark-color);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
}

.promocion {
    flex-basis: 30%;
    background-color: var(--purple-color);
    text-align: center;
    padding: 2rem;
    margin-top: .2rem;
}

.promocion h1 {
    color: var(--white-color);
    text-transform: uppercase;
    font-size: 28px;
    text-shadow: 2px 2px 2px var(--dark-color);
}

.promocion img {
    border-radius: 50%;
    border: 7px solid var(--white-color);
    inset: 0 0 0 1px var(--white-color);
}

.tseccion {
    text-align: center;
    font-weight: bolder;
    text-shadow: 2px 2px 2px var(--gray-color);
    font-size: 32px;
}

.servicios {
    display: flex;
    justify-content: space-between;
}

.servicio {
    margin: 10px;
    text-align: center;
    padding: 1rem;
}

.servicio img {
    max-width: 200px;
    width: 100%;
}

/*Footer*/

footer {
    background-image: url(../img/fondo.jpg);
}

.box-footer {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    background-color: rgba(117, 41, 149, .4);
}

.foot {
    text-align: center;
}

.foot h3, .foot p{
    color: var(--white-color);
}

/*Diseño de Equipo*/

.banner img {
    width: 100%;

}

.profesionales {
    display: flex;
    justify-content: space-between;
}

.profesional {
    margin: 10px;
    text-align: center;
    padding: 1rem;
}

.profesional img {
    border-radius: 50%;
    max-width: 200px;
    width: 100%;
}

.especial {
    color: var(--dark-color);
    font-weight: bolder;
    text-shadow: 1px 1px 5px var(--gray-color);
}

.nombre {
    color: var(--purple-color);
    font-weight: bolder;
    text-shadow: 1px 1px 5px var(--gray-color);
}

.profesional p {
    text-align: center;
}

/*Diseño de Servicios*/

.services {
    display: flex;
    padding: 1rem;
    flex-wrap: wrap;
    justify-content:space-around;
}

.service {
    align-items: center;
    flex: 40%;
    display: flex;
    margin: 0 .9rem;
}

.service img {
    margin-right: 1rem;
    width: 180px;
}


.text-service h3 {
    color: var(--dark-color);
    font-size: 24px;
}

/*Diseño de Contacto*/

#contacto {
    align-items: center;
    display: flex;
    justify-content: space-around;
    flex-flow: row-reverse;
    padding: 2rem;
} 

.mapa iframe {
    border: 1px solid black;
}

.info-contacto {
    align-items: center;
    display: flex;
    flex-flow: wrap row;
    width: 30%;
}

.info-contacto i{
    display: flex;
    justify-content: center;
    margin-right: 2rem;
}

.info-contacto p{
    display: block;
    width: 17rem;
    margin-right: 1rem;
}

.imagen img {
    max-width: 50px;
}

#contacto-form {
    display: flex;
    padding: 2rem;
}


.form {
    display: flex;
    background-color: var(--blue-color);
    flex-direction: row;
    /*flex-flow: wrap row-reverse;
    max-width: 850px;
    min-height: 340px;*/
    padding: 1rem;
}

.parte1 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    
}

.parte2 {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}

.controles {
    
}

.otroc input {
    width: 100%;
}

.form label {
    color: white;
}
