<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css"  href="../assets/css/estilos.css">
    <title>Dashboard</title>
</head>
<body>
    <header>
        <div class="d-logo">
            <img src="../assets/img/logo.jpg" alt="Logo">
        </div>
        <div class="d-sesion">
            <img src="../assets/img/golden.jpg" alt="Perrito">
            <span>
                <strong>Bienvenido, </strong><br>Usuario
                <a href="login.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
    </header>

    <section id="d-dashboard">
        <article class="d-menu">
            <ul>
                <li class="d-item"><a href="/views/usuario/usuarios.html"><i class="fa-solid fa-user"></i>Usuarios</a></li> 
                <li class="d-item"><a href="/views/cliente/clientes.html"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li class="d-item"><a href="/views/producto/productos.html"><i class="fa-solid fa-tag"></i>Productos</a></li>
                <li class="d-item"><a href="/views/pedidos/pedidos.html"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
                <li class="d-item"><a href="dashboard.html"><i class="fa-solid fa-chart-line"></i>Reportes</a></li>
            </ul>
        </article>
        <article class="d-contenido">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore, alias quaerat? Nulla officiis aliquam et nemo! Consequuntur sint fugiat sed possimus officia. Quod maxime corrupti impedit quam veniam mollitia accusamus?</p>
        </article>
    </section>

</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>