<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/estilos.css">
    <title>Equipo</title>
</head>
<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo Animalandia">
        </div>
        <div class="botones">
            <a href="login.html"><button class="b-azul"><i class="fa-solid fa-circle-plus" h></i>Ingresar</button></a>
            <button class="b-morado"><i class="fa-solid fa-user"></i>Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agenda.html" class="item">Agenda tu cita</a>
        <a href="contacto.html" class="item">Contacto</a>
        <a href="tips.html" class="item">Tips</a>
    </nav>

    <main>
        <section>
            <article class="banner">
                <img src="../assets/img/banner_equipo.svg" alt="Banner informativo">
            </article>
        </section>
        
        <h1 class="tseccion">Nuestro Equipo</h1>

        <section class="profesionales">
            <article class="profesional">
                <img src="../assets/img/medico1.jpg" alt="Imagen de médico 1">
                <h3>Mario Perez</h3>
                <h3 class="especial">Especialista en aves</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius ducimus voluptatibus sit repellat. </p>
            </article>
            <article class="profesional">
                <img src="../assets/img/medico2.jpg" alt="Imagen de médico 1">
                <h3 class="nombre">Mario Perez</h3>
                <h3 class="especial">Especialista en aves</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius ducimus voluptatibus sit repellat. </p>
            </article>
            <article class="profesional">
                <img src="../assets/img/medico1.jpg" alt="Imagen de médico 1">
                <h3 class="nombre">Mario Perez</h3>
                <h3 class="especial">Especialista en aves</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius ducimus voluptatibus sit repellat. </p>
            </article>
            <article class="profesional">
                <img src="../assets/img/medico2.jpg" alt="Imagen de médico 1">
                <h3 class="nombre">Mario Perez</h3>
                <h3 class="especial">Especialista en aves</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eius ducimus voluptatibus sit repellat. </p>
            </article>
        </section>
    </main>

    <footer>
        <div class="box-footer">
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>