<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css"  href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css"  href="../assets/css/estilos.css">
    <link rel="icon" href="../assets/img/favicon.png" type="image/x-icon">
</head>
<body>
    <a href="../index.html"><button class="b-azul">Volver atrás</button></a>

    <section id="login">
        <img src="../assets/img/logo.jpg" alt="Logo">

        <form action="dashboard.html" method="get" class="form-login">
            <div class="image">
                <i class="fa-solid fa-user-lock"></i>
            </div>

            <div class="form-group">
                <Label for="usuario" class="form-label"> Usuario</Label>
                <input class="form-input" type="text" name="usuario" id="usuario" placeholder="Ingresa tu usuario" required>
            </div>

            <div class="form-group">
                <Label for="contrasena" class="form-label"> Contraseña</Label>
                <input type="password" name="contrasena" id="contrasena" placeholder="Ingresa tu contraseña" class="form-input" required>
            </div>

            <div class="form-group">
                <input type="submit" name="ingresar" id="ingresar" value="Ingresar" class="btn-azul"> 
            </div>

            <div class="form-group">
                <input type="submit" name="registrar" id="registrar" value="Registrar" class="btn-morado"> 
            </div>

            <div class="form-group">
                <a href="" class="form-olvido">Recordar contraseña</a>
            </div>

        </form>
    </section>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>