<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css"  href="../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css"  href="../assets/css/estilos.css">
    <title>Servicios</title>
</head>
<body>

    <header>
        <div class="logo">
            <img src="../assets/img/logo.jpg" alt="Logo Animalandia">
        </div>
        <div class="botones">
            <button class="b-azul"><i class="fa-solid fa-circle-plus"></i>Ingresar</button>
            <button class="b-morado"><i class="fa-solid fa-user"></i>Registrarse</button>
        </div>
    </header>

    <nav>
        <a href="index.html" class="item">Home</a>
        <a href="equipo.html" class="item">Equipo</a>
        <a href="servicios.html" class="item">Servicios</a>
        <a href="agenda.html" class="item">Agenda tu cita</a>
        <a href="contacto.html" class="item">Contacto</a>
        <a href="tips.html" class="item">Tips</a>
    </nav>

    <main>
        <section>
            <article class="banner">
                <img src="../assets/img/banner.jpeg" alt="Banner informativo">
            </article>
        </section>

        <h1 class="tseccion">Nuestros servicios</h1>

        <section class="services">
            <article class="service">
                <div class="img-service">
                    <img src="../assets/img/vacuna.png" alt="Imagen representativa del servicio de vacunación">
                </div>
                <div class="text-service">
                    <h3>Vacunación de mascotas</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quod et eos fugit officia quibusdam ipsam itaque, omnis sequi fugiat nostrum alias vitae consequatur veniam aliquam explicabo quidem iusto recusandae?</p>
                </div>
            </article>

            <article class="service">
                <div class="img-service">
                    <img src="../assets/img/laboratorio.png" alt="Imagen representativa del servicio de laboratorio">
                </div>
                <div class="text-service">
                    <h3>Laboratorio</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quod et eos fugit officia quibusdam ipsam itaque, omnis sequi fugiat nostrum alias vitae consequatur veniam aliquam explicabo quidem iusto recusandae?</p>
                </div>
            </article>

            <article class="service">
                <div class="img-service">
                    <img src="../assets/img/consultav.png" alt="Imagen representativa del servicio de consulta veterinaria">
                </div>
                <div class="text-service">
                    <h3>Consulta veterinaria</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quod et eos fugit officia quibusdam ipsam itaque, omnis sequi fugiat nostrum alias vitae consequatur veniam aliquam explicabo quidem iusto recusandae?</p>
                </div>
            </article>

            <article class="service">
                <div class="img-service">
                    <img src="../assets/img/banio.png" alt="Imagen representativa del servicio de estética de mascotas">
                </div>
                <div class="text-service">
                    <h3>Estética de las mascotas</h3>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nam quod et eos fugit officia quibusdam ipsam itaque, omnis sequi fugiat nostrum alias vitae consequatur veniam aliquam explicabo quidem iusto recusandae?</p>
                </div>
            </article>
        </section>

    <footer>
        <div class="box-footer">
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
            <div class="foot">
                <img src="../assets/img/bx-building 1.svg" alt="icono-building">
                <h3>Sedes</h3>
                <p>Sede Kenedy <br>
                    Sede Fontibón <br>
                    Sede Suba <br>
                    Sede Centro
                </p>
            </div>
        </div>
    </footer>
</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>