<!DOCTYPE html>
<html lang="es-ES">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    <title>Productos</title>
</head>
<body>
    <header>
        <div class="d-logo">
            <img src="../../assets/img/logo.jpg" alt="Logo">
        </div>
        <div class="d-sesion">
            <img src="../../assets/img/golden.jpg" alt="Perrito">
            <span>
                <strong>Bienvenido, </strong><br>Usuario
                <a href="../login.html"><i class="fa-solid fa-right-from-bracket"></i></a>
            </span>
        </div>
    </header>

    <section id="d-dashboard">
        <article class="d-menu">
            <ul>
                <li class="d-item"><a href="/views/usuario/usuarios.html"><i class="fa-solid fa-user"></i>Usuarios</a></li> 
                <li class="d-item"><a href="/views/cliente/clientes.html"><i class="fa-solid fa-users"></i>Clientes</a></li>
                <li class="d-item"><a href="productos.html"><i class="fa-solid fa-tag"></i>Productos</a></li>
                <li class="d-item"><a href="/views/pedidos/pedidos.html"><i class="fa-solid fa-cart-shopping"></i>Pedidos</a></li>
                <li class="d-item"><a href="../dashboard.html"><i class="fa-solid fa-chart-line"></i>Reportes</a></li>
            </ul>
        </article>
        <article class="p-contenido">
            <form action="" method="" class="form-producto">
                <div class="form-group">
                    <label for="descripcion" class="form-label">Descripción</label>
                    <input type="text" name="descripcion" id="descripcion" class="form-input" placeholder="Ingresa la descripción del producto">
                </div>
                <div class="form-group">
                    <label for="nombre" class="form-label">Nombre</label>
                    <input type="text" name="nombre" id="nombre" class="form-input" placeholder="Ingresa el nombre del producto">
                </div>
                <div class="form-group">
                    <label for="precio" class="form-label">Precio</label>
                    <input type="number" name="precio" id="precio" class="form-input" placeholder="Ingresa el precio del producto">
                </div>
                <div class="form-group">
                    <label for="categoria"class="form-label">Categoria</label>
                    <select name="categoria" class="form-input">
                        <c:foreach>
                            <option value="id">Opción</option>
                        </c:foreach>
                        <c:foreach>
                            <option value="id1">Juguetes</option>
                        </c:foreach>
                        <c:foreach>
                            <option value="id2">Concentrado</option>
                        </c:foreach>
                        <c:foreach>
                            <option value="id3">Medicamento</option>
                        </c:foreach>
                        <c:foreach>
                            <option value="id4">Accesorios</option>
                        </c:foreach>
                    </select>
                </div>
                <div class="form-group">
                    <input type="submit" name="guardar" value="Guardar" class="form-button btn-morado">
                </div>
               </form>
        </article>
    </section>

</body>
<script src="https://kit.fontawesome.com/c887defe45.js" crossorigin="anonymous"></script>
</html>